header{
    max-width: 1110px;
    margin: 0 auto;
    img{
        margin-top: 62px;
    }

    .header-content{
        margin: 127px auto 321px;
        h1{
            margin-bottom:40px;
        }
        p{
            max-width: 825px;
        }
    }
}