main{
    @media screen and (max-width:1160px) {
        max-width: 100%;
        margin: 0 2% 183px;
    }

    @media screen and (max-width:666px) {
        max-width: 100%;
        margin: 0 auto 64px;
        text-align: center;
    }
    max-width: 1110px;
    min-height: 600px;
    margin: 0 auto 202px;
    position: relative;
    background:$black1;
    border-radius: 12px;

    &::before{
        @media screen and (max-width:1160px) {
           left: 264px;
           width: 280px;
           height: 420px;
           background-size: contain;
           top: -20px;
        }

        @media screen and (max-width:666px) {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        content: "";
        position: absolute;
        width: 312px;
        height: 468px;
        background: url(../images/bg-pattern-2.svg);
        top:0;
        left:335px;
        
    }

    > img{
        @media screen and (max-width:1160px) {
            width: 270.21px;
            left: 64px;
            margin-top: -150px;
         }

         @media screen and (max-width:666px) {
            width: 208px;
            position: relative;
            left: auto;
            margin-top: -100px;
        }
    position: absolute;
    left: 102px;
    margin-top: -200px;
    z-index:2;
    width: 312px;
    object-fit: contain;
    }

    .premium-card{
        @media screen and (max-width:1160px) {
            right:64px;
            width: 399px;
            height: 546px;
            top:128px;
            padding: 48px;
         }

         @media screen and (max-width:666px) {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
            margin-top: 48px;
            text-align: left;
            padding: 36px;
            min-height: 546px;
        }
        position: absolute;
        z-index: 2;
        right: 102px;
        top: 102px;
        width: 446px;
        height: 625px;
        color:$white1;
        background: $color2;
        border-radius: 12px;
        padding: 59px;

        p:nth-of-type(1){
            @media screen and (max-width:1160px){
                margin:12px 0 36px;
            }
            margin: 22px 0 39px;
        }

        p:nth-of-type(2){
            @media screen and (max-width:1160px){
                margin: 39px 0 32px;
            }
            display: flex;
            align-items: center;
            margin: 39px 0 46px;
            span{
                @include fontStyle(65px, 52px, $font2);
                margin-right:16px;   
            }
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            @include fontStyle(18px, 52px, $font2);
            color:$black1;
            letter-spacing: -0.18px;
            border: none;
            width: 100%;
            min-height: 61px;
            border-radius: 12px;
            cursor: pointer;
            img{
                margin-right: 8px;
            }

            &:hover{
                background: $color3;
            }
        }

        button:nth-of-type(1){
            background: $black1;
            margin-bottom:16px ;
            color: $white1;

            &:hover{
                background: $color1;
            }
        }
    }
}